.pop-up__title {
    margin: 0 auto;
    font-weight: 900;
    color: #000000;
}

@media screen and (min-width: 600px) {
    .pop-up__title {
        padding-top: 34px;
        width: 330px;
        height: 23px;
        font-size: 24px;
        line-height: 29px;
    }
}

@media screen and (max-width: 600px) {
    .pop-up__title {
        padding-top: 25px;
        width: 238px;
        height: 22px;
        font-size: 18px;
        line-height: 22px;
    }
}