.pop-up {
    position: fixed;
}

@media screen and (min-width: 600px) {
    .pop-up {
        width: 510px;
        top: 155px;
        left: calc(50% - 255px);
    }
}

@media screen and (max-width: 600px) {
    .pop-up {
        width: 282px;
        top: 87px;
        left: calc(50% - 141px);
    }
}
