.pop-up__line {
    margin: 0 auto;
    opacity: 0.2;
    border: 1px solid #000000;
}

@media screen and (min-width: 600px) {
    .pop-up__line {
        width: 358px;
    }
}

@media screen and (max-width: 600px) {
    .pop-up__line {
        width: 238px;
    }
}