.pop-up__button-link {
    width: 100%;
    text-decoration: none;
}
    
.pop-up__button-link::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 1);
    transition: background 1s ease-out;
}
    
.pop-up__button-link:hover::before {
    background: rgba(0, 0, 0, .8);
    transition: background 1s ease-out;
}
