.popup__closeButton {
    background-size: cover;
    background: url(../../../images/CloseIcon.svg);
    background-color: rgba(0, 0, 0, 0); 
    border: none;
    padding: 0;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.popup__closeButton:hover {
    opacity: 0.6;
    transition: opacity 1s ease-out;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .popup__closeButton {
        width: 32px;
        height: 32px;
        margin: 0 0 8px 478px;
    }
}

@media screen and (max-width: 600px) {
    .popup__closeButton {
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        margin: 0 0 19px 262px;
    }
}
