.popup__save-button_inactive {
    color: #000;
    background: #E5E5E5;
    opacity: 0.2;
    transition: background 1s ease-out;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}